package ${package.Mapper};

import ${package.Entity}.${entity};
import com.whp.core.repository.BaseRepository;
/**
 * 
 * @描述：${table.comment}(dao接口).
 * 
 * @作者：${author}
 * 
 * @时间: ${date}
 */
public interface ${table.mapperName} extends BaseRepository<${entity}, Long> {


}